<!DOCTYPE html>
<html>

<head>
	<title> Homepage </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="../styles/style.css">

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head ><body>


<header>
	<div class="head_image_contenedor">
		<img src="../scr/bcorea.png">
	</div>

	<div class="head_text_contenedor">
		<h1 id="header_txt"> HISTORICO DEL </h1>
		<h1 id="header_txt"> taekwondo </h1>

		<div class="fading-effect"></div>

	</div>

</header>


<nav>
	<ul class="nav_links">
		<li><a href="../index.html"> <b>Home</b></a></li>
		<li><a href="PAGE1.html"><b>Kwanes</b></a></li>
		<li><a href="historia.html"><b>Historia</b></a></li>
		<li><a href="estilohome.html"><b>Estilos</b></a></li>
		<li><a href="sass.html"><b>diccionario</b></a></li>
	</ul>

</nav>


<div class="flex-container">



	<div class="flex-item-left">

		<p id="padre">Los maestros e instructores coreanos, debido a su fuerte nacionalismo y resentimiento 
			tras la ocupación japonesa por 35 años<span>(1910- 1945)</span> , (periodo donde muchos de los 
			maestros precursores del arte se entrenaron en karate, judo o kendo) según Park 
			<span>(1993, p. 241–274)</span>: y tras la guerra de Corea <span>(1950-1953)</span> donde se produjo la división
			 actual del país en Corea del Norte, y Corea del Sur, ubican los orígenes del taekwondo 
			remontándose al año 50 d. C., a la práctica del arte marcial nativo llamado taekkyon,
			 arte aún practicado, que incluso ha sido declarado patrimonio inmaterial de la humanidad
			 por las Naciones Unidas.4​5​ La evidencia de su práctica fue hallada en tumbas antiguas por 
			arqueólogos japoneses durante la ocupación, donde algunas pinturas murales mostraban a dos 
			hombres en una escena de pelea.6​</p>


	<div class="recuadro">
		<p class="recuadro">En la formación de las dos coreas, la del norte y la del sur</p>
		<p class="recuadro">se podían distinguir los antiguos tres reinos en Corea, siendo estos:</p>


	</div>

		<ul id="padrelista00">
		<li> Goguryeo (37 a. C. - 668)</li>
		<li>Baekje (18 a. C. - 660)</li>
		<li>Silla (57 a. C. - 936)</li>

		</ul>



	</div>










	<div class="flex-item-right">
<div>
		<a style="color:white;"> <b>_______________________</b></a>

		<nav class="navbar navbar-expand-lg navbar-light bg-dodgerblue ">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto flex-column vertical-nav colortest">
					<li>
						<a style="color:white;"> <b>maestros de los kwan</b></a>
					</li>
					<li>
						<a class="nav-link" href="kwan1.html" style="font-family:verdana ;color:white; ">Lee Won Kuk</a>
					</li>
					<li>
						<a class="nav-link" href="kwan2.html" style="font-family:verdana ;color:white">Hwang Kee</a>
					</li>
					<li>
						<a class="nav-link" href="kwan3.html" style="font-family:verdana ;color:white">Jun Sang Sub</a>
					</li>
					</li>
					<li>
						<a class="nav-link" href="kwan4.html" style="font-family:verdana ;color:white"> Yung Byung
							In</a>
					</li>
					<li>
						<a class="nav-link" href="kwan5.html" style="font-family:verdana ;color:white">Ro Byung Jick</a>
					</li>
				</ul>


			</div>

		</nav>

	</div>



	<a style="color:white;"> <b>_______________________</b></a>


</div>

</div>




<div class="flex-container-footers">




</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

</body>

</html>